$blue: #068ffd;
$z: #fafafa;
$pinkish-grey: #c7c7c7;
$bubble-pink: #ff5ab7;
$black: #1e1e1e;
$very-light-pink: #c4c4c4;
$pale-grey: #f5f6fa;
$black-5: rgba(0, 0, 0, 0.05);
$black-two: #121212;
$white: #fff;
$light: #e8e8e8;
