@import 'colors';
@import 'mixins/flex';

.header {
  padding: 1.5rem 6rem;
  background-color: $white;

  @include flex(row, 4rem, center, space-between);

  box-shadow: 0 1px 3px $pinkish-grey;
  font-family: 'Montserrat', sans-serif;

  .logo-nav {
    @include flex(row, 4rem, center);
  }

  .logo {
    h1 {
      color: $blue;
      font-weight: bold;
    }
  }

  .user {
    @include flex(row, 0, center, center);

    width: 36px;
    height: 36px;
    justify-self: end;
    border: 1px solid $pinkish-grey;
    padding: 0.5rem;
    border-radius: 32px;

    svg {
      color: $blue;
    }
  }
}
