@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@300;400;500;600&display=swap');
@import 'header';
@import 'navbar';
@import 'book_card';
@import 'form';

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main.books-main,
main.category-main {
  padding: 3rem 6rem;
}

main.category-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-main div {
  font-family: 'Roboto Slab', sans-serif;
}

.books-wrapper {
  padding-bottom: 2rem;
  border-bottom: 2px solid $black-5;
}

.category-button {
  text-align: center;
  margin: 2rem auto;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: $blue;
  border-radius: 4px;
  color: $white;
  font-family: 'Roboto Slab', sans-serif;
}

.text-center {
  text-align: center;
}
